@import "tailwindcss";

@theme {
    --color-eminence-50: #faf7fd;
    --color-eminence-100: #f3ecfb;
    --color-eminence-200: #e9ddf7;
    --color-eminence-300: #d9c2f0;
    --color-eminence-400: #c19ae6;
    --color-eminence-500: #a973d9;
    --color-eminence-600: #9355c8;
    --color-eminence-700: #7e42ae;
    --color-eminence-800: #613583;
    --color-eminence-900: #573073;
    --color-eminence-950: #3a1853;
}

@layer base {
    body {
        @apply bg-zinc-50 text-zinc-950;
    }
    input,
    select {
        @apply px-2 py-0.5 border-1 border-zinc-400 rounded-md ease-in duration-100;
    }
    label {
        @apply flex flex-col gap-1 justify-center items-center;
    }
}

@layer components {
    .card {
        @apply flex flex-col gap-1 py-7 px-3 items-start justify-center w-full min-w-[290px] max-w-[390px] text-sm rounded-md border-1 border-eminence-300 bg-zinc-50 shadow-md;
    }
    .card-header {
        @apply flex flex-col md:flex-row gap-4 mb-3 pr-3 w-full items-center justify-start;
    }
    .card-content {
        @apply flex flex-row gap-1 items-center justify-start ml-2;
    }
    .card-icon {
        @apply w-5 h-4;
    }
    .button {
        @apply flex items-center justify-center px-6 py-3 md:px-4 md:py-1 rounded-md bg-eminence-200 text-eminence-950 ease-in duration-110 cursor-pointer;
    }
    .button:hover {
        @apply bg-eminence-300;
    }
    .danger:hover {
        @apply bg-red-300;
    }
    .input-error {
        @apply bg-red-400 border-red-950 border-1;
    }
}
